body {
    background-color: black;
}


.a {
    color: #FF8C00;
}

.parent {
    overflow: hidden;
    width:100%;
	height:100%;
}

.derecha {

	float:left;
	font-family: verdana;
	color: black;
	background-color: white;
	border: 1px solid black;
    padding: 25px;
    width: 68%;
    position: relative;
    left: 400px;
}
.izquierda {
	width: 39%;
	float:left;
	overflow: hidden;
	font-family: verdana;
	color: black;
	background-color: white;
	border: 1px solid black;
    padding: 25px;
    width: 21%;
    position: absolute;
    left: 20px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: black;
    text-align: left;
}

.hola {
    font-family: verdana;
    font-size: 20px;
    color: #FF8C00;
    text-align: right;
}

h2 {
    font-family: verdana;
    font-size: 30px;
    text-align: left;
    color: #FF8C00;
}

.image1 {
    width:100%; 
    height:100%;
}

.image2 {
    width:300px; 
    height:100px; 
    display: block; 
    margin: auto;
}

#cabecera .image1 {
    width:60%; 
    height:60%;

}

.btnleft{
    width: 100%;
}


.btns {

}

.ntfpanel {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border: 1px solid;
    margin-top: 10px;
    display: none;
}


#magic {
    text-decoration: none;
    color: #FF8C00;
}




